<%- include header %>

    <div id="indexMc" style="width: 990px; height: 580px; position: absolute; z-index: 4; top: 150.5px; left: 305px;">
        <div style="position:relative;">
            <div class="txt1 item" style="width: 337px; height: 47px; opacity: 1; top: 30px;left: 330px;"><img src="/images/txt1.png" width="337" height="47"></div>
            <div class="txt2 item" style="width: 327px; height: 26px; opacity: 1; overflow: hidden; top: 80px; left: 330px;"><img src="/images/txt2.png" width="327" height="26"></div>
            <!--div class="imgList item" style="width: 500px; height: 430px; top: 110px; overflow: hidden; opacity: 1; left: 220px;">
                <div class="bx-wrapper" style="width:530px; position:relative;"><div class="bx-window" style="height:400px; width:530px; position:relative; overflow:hidden;"><ul>
                            <li style="list-style: none; position: absolute; top: 0px; left: 0px; z-index: 98; opacity: 0;"><img src="/images/pro1.png" width="500" height="430"></li>
                            <li style="list-style: none; position: absolute; top: 0px; left: 0px; z-index: 98; opacity: 0;"><img src="/images/pro2.png" width="500" height="430"></li>
                            <li style="list-style: none; position: absolute; top: 0px; left: 0px; z-index: 99; opacity: 1;"><img src="/images/pro3.png" width="500" height="430"></li>
                            <li style="list-style: none; position: absolute; top: 0px; left: 0px; z-index: 98; opacity: 0;"><img src="/images/pro4.png" width="500" height="430"></li>
                        </ul></div></div>
            </div-->
        </div>
    </div>

    <!--div id="indexNewsBox" style="top: 559px; left: 305px;">
        <div class="newsBox"><div class="pic"><a href="http://loyallighting.com/index.php/news"><img src="/images/ablum1.jpg" width="90" height="90"></a></div><div class="content"><h2>News&nbsp;新闻</h2><ul>
                    <li><a href="http://loyallighting.com/index.php/news-1397.html">3528系列大势已去</a></li>
                    <li><a href="http://loyallighting.com/index.php/news-1396.html">各领风骚 LED散热“木桶”</a></li>
                    <li><a href="http://loyallighting.com/index.php/news-1395.html">LED路灯电源微型化之路</a></li>
                </ul></div></div>
        <div class="newsBox"><div class="pic"><a href="http://loyallighting.com/index.php/products"><img src="/images/ablum2.jpg" width="90" height="90"></a></div><div class="content"><h2>Products&nbsp;产品</h2><ul><li><a href="http://loyallighting.com/index.php/products-1462.html">LY-WWSL-1A</a></li>
                    <li><a href="http://loyallighting.com/index.php/products-1461.html">LY-WWDL-1A</a></li>
                    <li><a href="http://loyallighting.com/index.php/products-1463.html">LY-EBSL-1A</a></li>
                </ul></div></div>
        <div class="newsBox"><div class="pic"><a href="http://loyallighting.com/index.php/application"><img src="/images/ablum3.jpg" width="90" height="90"></a></div><div class="content"><h2>Solutions&nbsp;解决方案</h2><ul><li><a href="http://loyallighting.com/index.php/solution-1046.html">家居照明</a></li>
                    <li><a href="http://loyallighting.com/index.php/solution-1018.html">宾馆酒店</a></li>
                    <li><a href="http://loyallighting.com/index.php/solution-1004.html">百货商场</a></li>
                </ul></div></div>
    </div>

    <div id="open_btn" class="state_open" state="open" style="top: 682px; left: 773px;"></div-->

    <div id="copyright" style="right:-50px;">
        <div style="float:left;">
            <img src="/images/logo_footer.jpg" width="100" height="60">
        </div>
        <div style="padding:20px;">
            <span>Your success is our business!</span>
        </div>
    </div>
    <div id="footerbg" style="width: 100%;"></div>
</div>

<div id="loading" style="top: 334.5px; left: 770px; opacity: 0;">Loading...</div>
<script type="text/javascript">
    $(function(){$.backstretch("/images/bg1.jpg");});
</script>

<script type="text/javascript">
    //QueryLoader.selectorPreload = "body";
    //QueryLoader.init();
    var $page_width=$("body").width()<1003?1003:$("body").width();
    var $page_height=$("body").height();

    var supportsOrientationChange = "onorientationchange" in window,
            orientationEvent = supportsOrientationChange ? "orientationchange" : "resize";

    $(function(){
        $(window).bind(orientationEvent, function() {resize();});
        resize();

        $(".sub_menu_1_product").hover(function(){
            $("#sub_menu_1_product").removeClass("current");
            $(this).addClass("current");
            if($("#sub_nav").css("display")=='none'){
                $("#sub_nav").css({opacity:0}).show();
            }
            TweenMax.to($('#sub_nav'), 0.3, {css:{opacity:1,height:339}});
            $("#sub_nav .sub_menu").hide();
            $("#sub_nav #"+$(this).attr("target")).show();

        });//hover end

        $("#main_nav li:not(.sub_menu_1_product)").hover(function(){
            $(".sub_menu_1_product").removeClass("current");
            $("#sub_nav").hide();
        });//hover end

        $("#sub_nav").hover(function(){},function(){
            $(".sub_menu_1_product").removeClass("current");
            $("#sub_nav .sub_menu").css({height:'0px'}).hide();
            $("#sub_nav").hide();
            //TweenMax.fromTo($('#sub_nav'), 1.8, {css:{opacity:1}}, {css:{opacity: 0,display: 'none'}});
        });

//        $("#open_btn").click(function(){
//            if($(this).attr("state")=='open'){
//                $("#indexNewsBox").css({opacity:0}).show();
//                TweenMax.fromTo($('#indexNewsBox'), 0.3, {css:{opacity:0,top:$page_height}},{css:{opacity:1,top:$page_height-170}});
//                $("#open_btn").attr("state",'close');
//                $("#open_btn").attr("class",'state_close');
//
//            }else{
//                if($(this).attr("state")=='close'){
//                    TweenMax.fromTo($('#indexNewsBox'), 0.3, {css:{opacity:1,top:$page_height-170}},{css:{opacity:0,top:$page_height},onComplete:function(){
//                        $("#indexNewsBox").css({opacity:0}).hide();
//                        $("#open_btn").attr("state",'open');
//                        $("#open_btn").attr("class",'state_open');
//                    }});
//                }
//
//            }
//        });
    });

    function resize(){
        $page_width=$("body").width()<1003?1003:$("body").width();
        $page_height=($("body").height()<650?650:$("body").height());
        $("#mainbox,.nav_bg").width($page_width);
        $("#mainbox").height($page_height);
        reposition();
    }

    function reposition(){
        $("#open_btn").css({top:$page_height-47,left:$page_width/2-27});
        $("#indexNewsBox").css({top:$page_height-170,left:($page_width / 2 - 990 / 2)});
        $mc_width=$("#indexMc").width();
        $mc_height=$("#indexMc").height();
        $("#indexMc").css({top:$page_height/2-$mc_height/2+50,left:$page_width/2-$mc_width/2});
        $("#loading").css({top:$page_height/2-30,left:$page_width/2-30});

    }

    function indexMcAnt(){
        if($.browser.msie) {correctPNG();}
        $obj1=$("#indexMc .txt1");$obj2=$("#indexMc .txt2");$obj3=$("#indexMc .imgList");
        $obj1.css({opacity:0}).show();
        //if($.browser.msie) {correctPNG();}
        TweenMax.fromTo($obj1, 1, {css:{opacity:0,left:0}},{css:{opacity:1,left:330}});
        $obj2.css({opacity:0}).delay(300).show(function(){TweenMax.fromTo($obj2, 1, {css:{opacity:0,left:330,top:90}},{css:{opacity:1,left:330,top:90}});});

        $obj3.css({opacity:0}).delay(500).show(function(){TweenMax.fromTo($obj3, 1, {css:{opacity:0,left:0,top:110}},{css:{opacity:1,left:220,top:110},onComplete:function(){
            var Slider=$obj3.find("ul").bxSlider({infiniteLoop: true,auto:true,pager:false,controls:false,mode:'fade',speed:1000,pause:5000});
        }});});
    }

    $(window).load(function() {
        TweenMax.to($("#loading"), 1, {css:{opacity:0},onComplete:function(){indexMcAnt();}});

    });
</script>


<!--div class="backstretch" style="left: 0px; top: 0px; overflow: hidden; margin: 0px; padding: 0px; height: 729px; width: 1600px; z-index: -999999; position: fixed;">
    <img src="/images/bg1.jpg" style="position: absolute; margin: 0px; padding: 0px; border: none; width: 1600px; height: 867px; max-width: none; z-index: -999999; left: 0px; top: -69px;">
</div-->

<%- include footer %>