<%- include header %>

<div class="nav_bg2" style=" position:absolute; z-index:666; width:100%; overflow:hidden;">
    <img src="/images/nav_bg2.jpg" width="1583" height="111">
</div>

<!-- nav 底图2 -->
<div id="indexMc" style="width: 990px; height: 400px; position: absolute; z-index: 4; top: 156px; left: 296.5px;">
    <div style="position:relative;">
        <div class="txt1 item" style="width: 211px; height: 249px; opacity: 0.8; overflow: hidden; top: -50px; left: 0px;">
            <a href="http://loyallighting.com/index.php/saving"><img src="/images/1394578470882925466.jpg" width="211" height="250"></a>
        </div>
        <div class="txt2 item" style="width: 211px; height: 249px; opacity: 1; overflow: hidden; top: 54.203125px; left: 262px;">
            <a href="http://loyallighting.com/index.php/indoor"><img src="/images/1390606905440143619.png" width="211" height="250"></a>
        </div>
        <div class="txt3 item" style="width: 211px; height: 249px; opacity: 0.8; overflow: hidden; top: -40px; left: 529px;">
            <a href="http://loyallighting.com/index.php/outdoor"><img src="/images/1394758325881262582.jpg" width="211" height="250"></a>
        </div>
        <div class="txt4 item" style="width: 211px; height: 249px; opacity: 0.8; overflow: hidden; top: 60px; left: 786px;">
            <a href="http://loyallighting.com/index.php/new-products"><img src="/images/1390606950005629856.png" width="211" height="250"></a>
        </div>
        <!--div class="txt5 item" style="width: 211px; height: 249px; opacity: 0.8; overflow: hidden; top: 60px; left: 986px;">
            <a href="http://loyallighting.com/index.php/new-products"><img src="/images/1390606950005629856.png" width="211" height="250"></a>
        </div-->
    </div>
</div>

<div id="copyright"><img src="/images/copyright.jpg" width="266" height="19"></div>
<div id="footerbg" style="width: 1583px;"></div>

<div id="loading" style="top: 326px; left: 761.5px; opacity: 0;">Loading...</div>
<!-- background picture-->
<script type="text/javascript">
    $(function(){
        $.backstretch("/images/bg2.jpg");
    });
</script>

<script type="text/javascript">
    //QueryLoader.selectorPreload = "body";
    //QueryLoader.init();
    var $page_width=$("body").width()<1003?1003:$("body").width();
    var $page_height=$("body").height()<700?700:$("body").height();

    var supportsOrientationChange = "onorientationchange" in window,
            orientationEvent = supportsOrientationChange ? "orientationchange" : "resize";

    $(function(){
        $(window).bind(orientationEvent, function() {resize();});
        resize();

        $("#main_nav li:not(.logo,.nosub)").hover(function(){
            $("#main_nav li:not(.logo,.nosub)").removeClass("current");
            $(this).addClass("current");
            if($("#sub_nav").css("display")=='none'){
                $("#sub_nav").css({opacity:0}).show();
            }
            TweenMax.to($('#sub_nav'), 0.3, {css:{opacity:1,height:339}});
            $("#sub_nav .sub_menu").hide();
            $("#sub_nav #"+$(this).attr("target")).show();

        });//hover end

        $("#sub_nav").hover(function(){},function(){
            $("#main_nav li:not(.logo,.nosub)").removeClass("current");
            $("#sub_nav .sub_menu").css({height:'0px'}).hide();
            $("#sub_nav").hide();
            //TweenMax.fromTo($('#sub_nav'), 1.8, {css:{opacity:1}}, {css:{opacity: 0,display: 'none'}});
        });

        $('#zineSlider a').lightBox({fixedNavigation:true,imageLoading: 'http://loyallighting.com/themes/LOYAL/default/images/lightbox-ico-loading.gif',
            imageBtnClose: 'http://loyallighting.com/themes/LOYAL/default/images/lightbox-btn-close.gif',
            imageBtnPrev: 'http://loyallighting.com/themes/LOYAL/default/images/lightbox-btn-prev.gif',
            imageBtnNext: 'http://loyallighting.com/themes/LOYAL/default/images/lightbox-btn-next.gif',imageBlank:'http://loyallighting.com/themes/LOYAL/default/images/lightbox-blank.gif'});


    });

    function resize(){

        $page_width=$("body").width()<1003?1003:$("body").width();
        $page_height=($("body").height()<700?700:$("body").height());
        $("#mainbox,.nav_bg,#footerbg").width($page_width);
        $("#mainbox").height($page_height);
        $(".nav_bg2 img").attr("width",$page_width);

        reposition();
    }

    function reposition(){
        $mc_width=$("#indexMc").width();
        $mc_height=$("#indexMc").height();
        $("#indexMc").css({top:$page_height/2-$mc_height/2,left:$page_width/2-$mc_width/2});
        $("#loading").css({top:$page_height/2-30,left:$page_width/2-30});

    }

    function indexMcAnt(){
        $obj1=$("#indexMc .txt1");$obj2=$("#indexMc .txt2");$obj3=$("#indexMc .txt3");$obj4=$("#indexMc .txt4");

        $obj1.css({opacity:0}).show(function(){TweenMax.fromTo($obj1, 1, {css:{opacity:0,left:0,top:60}},{css:{opacity:0.8,left:0,top:-40}});});
        $obj2.css({opacity:0}).show(function(){TweenMax.fromTo($obj2, 1, {css:{opacity:0,left:262,top:0}},{css:{opacity:0.8,left:262,top:60}});});
        $obj3.css({opacity:0}).show(function(){TweenMax.fromTo($obj3, 1, {css:{opacity:0,left:529,top:60}},{css:{opacity:0.8,left:529,top:-40}});});
        $obj4.css({opacity:0}).show(function(){TweenMax.fromTo($obj4, 1, {css:{opacity:0,left:786,top:0}},{css:{opacity:0.8,left:786,top:60},onComplete:function(){

            $("#indexMc .item").hover(function(){
                $my_top=$(this).position().top;
                $(this).animate({"top":$my_top+10,'opacity':1},100);
                //TweenMax.to($(this), 0.3, {css:{top:$my_top+10,opacity:1}});
            },function(){
                $my_top=$(this).position().top;
                $(this).animate({"top":$my_top-10,'opacity':0.8},100);
                //TweenMax.to($(this), 0.3, {css:{top:$my_top-10,opacity:0.8}});
            });

        }});});

    }

    $(window).load(function() {
        TweenMax.to($("#loading"), 1, {css:{opacity:0},onComplete:function(){indexMcAnt();}});

    });
</script>

<div class="backstretch" style="left: 0px; top: 0px; overflow: hidden; margin: 0px; padding: 0px; height: 729px; width: 1583px; z-index: -999999; position: fixed;"><img src="/images/bg2.jpg" style="position: absolute; margin: 0px; padding: 0px; border: none; width: 1583px; height: 857.788125px; max-width: none; z-index: -999999; left: 0px; top: -64.3940625px;"></div>


<%- include footer %>